body{
    font-family: 'Poppins', sans-serif;
}

.slider_title{
    font-weight: 600;
    font-size: 48px;
}
.robot-font{
    font-family: 'Roboto', sans-serif;
}

i.fas.fa-check {
    background: #edecf9;
    padding: 4px;
    border-radius: 50%;
    margin-right: 10px;
    color:#5243C2;
}

.card-primary-color{
    color:#231D4F;
}
.choise-plane{
    color:#3F87F5;
}
.btn-choise{
    background-color: #F496D1;
}
ul.list-group li{
    font-size: 15px;
}
.bg-none .list-group-item, .bg-none{
    background-color: transparent;
}
.badge-right{
    right: 25px;
    font-size: 10px;
    font-weight: normal;
    
}
.card-round{
    border-radius: 25px;
}

.client-font-size{
    font-size:14px;
    font-family: 'Poppins';
}

.button {
    background-image: linear-gradient(#FF589B, #FF136F);
    color: #fff;
}

.carousel-item img{
    height: 600px;
}
   
@media (max-width:991px) {
    .carousel-group h5{
        font-size: 20px;
    }

    .carousel-group p{
        font-size: 12px;
    }
    .carousel-item img{
        height: 600px;
    }

   
}


.toast-width{
    width: 300px;
    top:160px !important;
    border-left: 8px solid #3F87F5 !important;
    
}

.bg-button-color{
    background-color: #3F87F5;
}

.button-hover{
    transition: .5s linear;
}
.button-hover:hover{
    background-color: rgba(142, 204, 255, 0.39) !important;
}

.carousel-group {
    background: rgba(000,000, 000, .1);
    padding: 20px;
}